[openssl_init]
engines                 = engine_section
providers               = provider_sect
ssl_conf                = ssl_configuration

[engine_section]
afalg                   = afalg_section
gost                    = gost_section
pkcs11                  = pkcs11_section
loader_attic            = loader_attic_section

[afalg_section]
engine_id               = afalg
dynamic_path            = /usr/lib/engines-3/afalg.so
init                    = 1
default_algorithms      = ALL
[gost_section]
engine_id = gost
dynamic_path = /usr/lib/engines-3/gost.so
init = 1
default_algorithms = ALL

[pkcs11_section]
engine_id = pkcs11
dynamic_path = /usr/lib/engines-3/libpkcs11.so
init = 1
default_algorithms = ALL

[loader_attic_section]
engine_id = loader_attic
dynamic_path = /usr/lib/engines-3/loader_attic.so
init = 1
default_algorithms = ALL
[provider_sect]
base                    = base_sect
default                 = default_sect
legacy                  = legacy_sect
fips                    = fips_sect
oqsprovider             = oqsprovider_sect
pkcs11                  = pkcs11_sect

[base_sect]
activate                = 1

[default_sect]
activate = 1
properties              = "provider=default", "security_level=2"

[fips_sect]
activate                = 1
module                  = /opt/qompassl/lib64/ossl-modules/fips.so
properties              = "provider=fips", "security_level=3"
algorithms              = ALL:!X25519:!X448:!Ed25519:!Ed448

[legacy_sect]
activate                = 1
module                  = /usr/lib/ossl-modules/legacy.so

[oqsprovider_sect]
activate                = 0
module                  = /usr/lib/ossl-modules/oqsprovider.so
properties              = "provider=oqsprovider", "security_level=3"

[pkcs11_sect]
activate                = 1
module                  = /usr/lib/ossl-modules/pkcs11.so

[evp_properties]
default_properties      = security_level=2

